*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(web\ html.jpeg);
    background-repeat: no-repeat;
    /* background-size: 200px 200px; */
    background-size: cover;
    width: 100%;
    height: 500px;
    position: fixed; 

}
header h1{
    text-align: center;
    color: white;
    margin-top: 200px;
}


.first-para{
    text-align: center; 
    margin-top: 60px;
    
    color: white;  
   
}
.readmore{
    text-align: center;
    padding: 15px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;

    

}