@media only screen and (max-width: 480px) {
    body{
        background-color: lightblue;
    }
    .logo{
        width:100%;
    }
   
    .footermenu {
        flex-direction: column;
        
    }

    .search-button  {
        display: flex;
        flex-direction: row;
    }
    .search{
        min-width: 40%;
    }
    
    
    
  