* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serifss;
}
body {
  height: 100vh;
  width: 100%;
}



ul {
  list-style-type: none;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
header {
  display: flex;
  justify-content: end;
  padding: 10px 0;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  margin: 0 10px;
}
header ul li a {
  font-size: 13px;
  text-decoration: none;
}

header ul li button {
  border: 1px solid;
  font-weight: bold;
  outline: none;
  background-color: #1a73e8;
  width: 70px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-left: 7px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 40%;
  height: 40px;
  border: 1px solid #e7e8eb;
  border-radius: 24px;
  /* background-color: red; */
  padding: 5px 10px;
}
.search .input {
  
  background-color: blue;
  border: none;
  font-size: 15px;
  padding: 4px;
 
}
.logo {
  width: 30vw;
  height: 30vh;
}

.search-button button {
  background-color: #f8f9fa;
  border: 1px solid#f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  text-align: center;
  padding: 10px 16px;
  margin: 20px 10px;
  cursor: pointer;
}
.search-button button:hover {
  border: 1px solid #e7e8eb;
  
}
.language {
  display: flex;
  font-size: 13px;
  margin: 0px 30px;
}
.language a {
  text-decoration: none;
  color: #1a0dab;
  padding: 0 5px;
}
.language a:hover {
  text-decoration: underline;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #6f6f6f;
}
.footer-loc {
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px;
  margin: auto;
}
.footermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
  margin: auto;
}
.left a,
.right a {
  text-decoration: none;
  color: #6f6f6f;
  font-size: 14px;
  padding: 0 15px;
}
.left a:hover,
.right a:hover {
  text-decoration: underline;
}

